body {
    background-color: #f5d9df;
    font-family: Nunito, sans-serif;
}

#mainNavbar {
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
    font-size: 1.5rem;
}

#mainNavbar .nav-link:hover {
    color: #ba1c2c;
}

.navbar-brand:first-of-type {
    color: #ba1c2c;
    font-size: 3rem;
}

#headingGroup span {
     color: red;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background-color: rgb(222, 192, 222);
    transition: background-color 0.5s;
}

@media(max-width: 1200px) {
    #headingGroup h1 {
        font-size: 3rem;
    }   
}

.blurb h2 {
    color: #ba1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #f498e8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
}

.imagespadding {
    padding: 15px;
}

