html {
  font-size: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #151b29;
}

button {
  color: #ffa260;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  background: none;
  padding: 1rem 2rem;
  border: 3px solid #ffa260;
  border-radius: 20px;
}

button:hover {
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0px 5px 5px -1px;
  transform: translateY(-10px);
  transition: 0.3s;
  cursor: pointer;
}

button:active {
  transform: none;
  transition: none;
}